.productcard{
    border: 2px solid #002D72;
    color:  #002D72;
    margin: 3%;
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 2%;
}
.productcard:hover{
    border: 2px solid #e3f0ff;
    background-color: #e3f0ff;
}

.productcardinside{
    display: flex;
    flex-direction: row;
}
.image{
    margin-right: 5%;
}
.productinfo{
    color: #002D72;
    width: 40%;
    margin-left: 5%;
}
.linktotheproduct{
    text-decoration: none;
}
.productname{
    font-size: x-large;
    border-bottom: 1px solid #002D72;
    margin-bottom: 10%;
}
.productprice{
    font-size: xx-large;
    color: red;
    margin-bottom: 1%;
}
.productpricetext{
    color: red;
    font-size: small;
    margin-bottom: 4%;
    margin-left: 1%;
}